// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #1dc7e1;
$secondary: #595e6f;
$dark: #555555;

// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

// Options
$font-size-base: 1rem;
$enable-rounded: false;
$input-btn-focus-box-shadow: unset;
$btn-active-box-shadow: unset;
$btn-focus-box-shadow: unset;
$btn-box-shadow: unset;
$btn-focus-width: 0;

$input-bg: #fafafa;
$input-border-width: 0;
