// Colors
$primary: #1dc7e1;
$secondary: #595e6f;
$dark: #555555;
$light: #fafafa;

$box-sahdow: 3px 0px 22px rgba(#000, 0.05);

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

// Options
$font-size-base: 1rem;
$enable-rounded: false;
$input-btn-focus-box-shadow: unset;
$btn-active-box-shadow: unset;
$btn-focus-box-shadow: unset;
$btn-box-shadow: unset;
$btn-focus-width: 0;

$input-bg: #fafafa;
$input-border-width: 0;
// $form-check-input-width: 1.125em;
$form-check-input-bg: #fafafa;
$form-check-input-border: none;

$grid-gutter-width: 2.125rem;

$card-spacer-y: 4.625rem;
$card-spacer-x: 4.625rem;

$table-cell-padding-y: 1.5rem;
$table-cell-vertical-align: middle;

// Body
$body-bg: rgba($primary, 0.02);
$body-color: #555;
