// Colors
$primary: #1dc7e1;
$secondary: #595e6f;
$dark: #555555;
$light: #fafafa;

$box-shadow: 3px 0px 22px rgba(#000, 0.05);

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$headings-font-weight: 700;

// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

// Options
$enable-rounded: false;
$input-btn-focus-box-shadow: unset;
$btn-active-box-shadow: unset;
$btn-focus-box-shadow: unset;
$btn-box-shadow: unset;
$btn-focus-width: 0;

$input-bg: #fafafa;
$input-border-width: 0;
// $form-check-input-width: 1.125em;
// $form-check-input-bg: #fafafa;
$form-check-input-border: none;

$input-btn-font-size-sm: 0.75rem;
$btn-font-size: 0.875rem;

$input-btn-font-size-lg: 1.125rem;

// $grid-gutter-width: 2.125rem;

$card-spacer-y: 4.625rem;
$card-spacer-x: 4.625rem;

$table-cell-padding-y: 1.5rem;
$table-cell-vertical-align: middle;

//
$dropdown-border-width: 0;
//

$pagination-border-width: 0;
$pagination-bg: $light;
// $pagination-bg: $dark;
$pagination-padding-y: 0.225rem;
$pagination-padding-x: 0.75rem;
$pagination-hover-color: #fff;
$pagination-hover-bg: $primary;

// Body
$body-bg: rgba($primary, 0.02);
$body-color: #555;
