.qo-section {
  margin-bottom: 10rem;
  padding: 4.5rem;
  padding-bottom: 10rem;
}

.options-grid {
  --template: repeat(4, 1fr);
  --gap: 90px;

  margin-bottom: calc(-43px - 13rem);
  margin-top: 3rem;

  .option-item {
    // height: 170px;
    padding: 3rem;
    text-align: center;
    box-shadow: $box-sahdow;
  }
}

// .dashboard-sections {
// }

.option-item {
  a {
    font-size: 1.125rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--bs-dark);
  }

  .option-item-icon {
    font-size: 3.125rem;
    display: block;
    margin: 0 auto 1.5rem;
    line-height: 1;
    color: var(--bs-primary);
  }

  .admin-icon {
    position: relative;

    .icon-cog {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
