.btn {
  &-primary {
    color: $white;

    &:hover {
      color: $white;
      border-color: $secondary;
      background-color: $secondary;
    }
  }
}

//

.form-control:not(.form-control-sm):not(.form-control-lg) {
  min-height: 3.25rem;
}

.invalid-msg {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: $danger;
}

//

.grid {
  display: grid;
  gap: var(--gap, 32px);
  grid-template-columns: var(--template, minmax(0, 1fr));
  grid-auto-rows: minmax(0, max-content);
}
